In [105]:
import requests

def get_distance_duration(origin, destination):
    api_key = "AIzaSyCRri7l9qsiIrXlxZHPdb2jjofm_BA3M9s"  # Insira sua API key do Google Maps
    url = f"https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins={origin}&destinations={destination}&key={api_key}"
    response = requests.get(url)
    data = response.json()
    if data["status"] == "OK":
        distance = data["rows"][0]["elements"][0]["distance"]["text"]
        duration = data["rows"][0]["elements"][0]["duration"]["text"]
        return distance, duration
    else:
        return None, None

def calcula(cep1, cep2):
    origin = f"CEP {cep1}"
    destination = f"CEP {cep2}"

    distance, duration = get_distance_duration(origin, destination)

    if distance is not None and duration is not None:
        print(f"A distância entre os CEPs {cep1} e {cep2} é de {distance}.")
        print(f"O tempo de viagem de carro é aproximadamente {duration}.")
    else:
        print("Erro ao obter a distância e o tempo de viagem.")

In [106]:
calcula('03063000', '04041054')

A distância entre os CEPs 03063000 e 04041054 é de 16.7 km.
O tempo de viagem de carro é aproximadamente 30 mins.

In [18]:
import pandas as pd
df_removidos = pd.read_excel('../data/removidos.xlsx')
df_censo = pd.read_csv('../data/microdados_ed_basica_2022.csv', sep=';', encoding='latin-1')

C:\Users\Alan Matheus\AppData\Local\Temp\ipykernel_1084\2680523260.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_censo = pd.read_csv('../data/microdados_ed_basica_2022.csv', sep=';', encoding='latin-1')

In [108]:
df_censo['CO_ENTIDADE_CORTADO'] = df_censo['CO_ENTIDADE'].astype(str)
df_removidos['ORIGEM'] = df_removidos['ORIGEM'].astype(str)
df_removidos['DESTINO'] = df_removidos['DESTINO'].astype(str)

In [20]:
df_escolas= pd.read_csv('../data/cadastro_escolas_22.csv', sep=';', encoding='latin-1')

In [ ]:
def get_ceps(df_removidos, df_censo):
    # Primeiro, vamos criar um dicionário usando o CO_ENTIDADE como chave e o CO_CEP como valor
    dict_censo = df_censo.set_index('CO_ENTIDADE')['CO_CEP'].to_dict()

    # Em seguida, para cada valor em ORIGEM e DESTINO, precisamos encontrar a chave correspondente em dict_censo que termina com o valor
    df_removidos['CEP_ORIGEM'] = df_removidos['ORIGEM'].apply(lambda x: next((dict_censo[k] for k in dict_censo if str(k).endswith(x)), None))
    df_removidos['CEP_DESTINO'] = df_removidos['DESTINO'].apply(lambda x: next((dict_censo[k] for k in dict_censo if str(k).endswith(x)), None))

    return df_removidos

# Usar a função
df_removidos = get_ceps(df_removidos, df_censo)

In [ ]:
a = '02456'
b = '13202456'
print(a in b)

True

In [ ]:

df_removidos = df_removidos['CEP_ORIGEM'].dropna()
df_removidos = df_removidos['CEP_DESTINO'].dropna()

KeyError: 'CEP_ORIGEM'

In [ ]:
df_removidos.shape

(5677,)

In [9]:
import pandas as pd
df_removidos_completo = pd.read_excel('../data/removidos_com_cep.xlsx')
print(df_removidos_completo.shape)

(8664, 17)

In [11]:
print(df_removidos_completo.shape)

(8664, 17)

In [12]:
df_cadastro_escolas = pd.read_csv('../data/cadastro_escolas_22.csv', sep=';', encoding='latin-1')

In [13]:
dict_cadastro_escolas = df_cadastro_escolas.set_index('CODESC')['CEP'].to_dict()
df_removidos_completo.loc[df_removidos_completo['CEP_ORIGEM'].isna(), 'CEP_ORIGEM'] = df_removidos_completo.loc[df_removidos_completo['CEP_ORIGEM'].isna(), 'ORIGEM'].map(dict_cadastro_escolas)
df_removidos_completo.loc[df_removidos_completo['CEP_DESTINO'].isna(), 'CEP_DESTINO'] = df_removidos_completo.loc[df_removidos_completo['CEP_DESTINO'].isna(), 'DESTINO'].map(dict_cadastro_escolas)

In [16]:
df_removidos_completo = df_removidos_completo.dropna(subset=['CEP_ORIGEM', 'CEP_DESTINO'])
print(df_removidos_completo.shape)

(8105, 17)

In [17]:
df_removidos_completo.to_excel('../data/removidos_com_todos_ceps.xlsx', index=False)

NOVA TENTATIVA, POREM APENAS COM O CADASTRO DAS ESCOLAS

In [59]:
df_removidos = pd.read_excel('../data/removidos.xlsx')

In [60]:
dict_cadastro_escolas = df_cadastro_escolas.set_index('CODESC')['CEP'].to_dict()

In [61]:
df_removidos['CEP_ORIGEM'] = df_removidos['ORIGEM'].map(dict_cadastro_escolas)
df_removidos['CEP_DESTINO'] = df_removidos['DESTINO'].map(dict_cadastro_escolas)

In [62]:
print(df_removidos.shape)

(8664, 17)

In [63]:
df_removidos = df_removidos.dropna(subset=['CEP_ORIGEM', 'CEP_DESTINO'])

In [64]:
print(df_removidos.shape)

(8042, 17)

In [65]:
df_removidos.to_excel('../data/removidos_com_ceps.xlsx', index=False)

In [66]:
df_removidos.head()

,CONCURSO_REMOCAO,CEP,CARGO,ANO,ORIGEM,TIPO_ORIGEM,UNIDADE_ORIGEM,DRE_ORIGEM,GDA_GLT_ORIGEM,DESTINO,TIPO_DESTINO,UNIDADE_DESTINO,DRE_DESTINO,REMOVEU,GDA_GLT_DESTINO,CEP_ORIGEM,CEP_DESTINO
0,REMOÇÃO PROF.TITULARES,3063000,PROF.ED.INF.E ENS.FUND.I,2022,91278,EMEI,"GOMES CARDIM, INTENDENTE",PE,NaN,94021,EMEF,"CAIRU, VISC. DE",PE,S,NaN,3322080.0,3552010.0
5,REMOÇÃO PROF.TITULARES,3178060,PROF.ED.INF.E ENS.FUND.I,2022,91812,EMEBS,HELEN KELLER,IP,NaN,329,EMEBS,"NEUSA BASSETTO, PROFA.",PE,S,NaN,4109000.0,3166000.0
19,REMOÇÃO PROF.TITULARES,3405000,PROF.ED.INF.E ENS.FUND.I,2022,91278,EMEI,"GOMES CARDIM, INTENDENTE",PE,NaN,19670,CEU CEMEI,MONTE SERRAT,PE,S,NaN,3322080.0,3312000.0
20,REMOÇÃO PROF.TITULARES,2452002,PROF.ED.INF.E ENS.FUND.I,2022,91561,EMEI,ABELARDO GALDINO PINTO - PIOLIN,FB,NaN,99643,EMEI,DULCE HAUCK,FB,S,NaN,2515040.0,2536140.0
22,REMOÇÃO PROF.TITULARES,1542010,PROF.ED.INF.E ENS.FUND.I,2022,91812,EMEBS,HELEN KELLER,IP,NaN,329,EMEBS,"NEUSA BASSETTO, PROFA.",PE,S,NaN,4109000.0,3166000.0

CODIGO PROIBIDO DE SER RODADO MAIS DE 1 VEZ

In [67]:
df_removidos[['CEP_ORIGEM', 'CEP_DESTINO']] = '0' + df_removidos[['CEP_ORIGEM', 'CEP_DESTINO']].astype(str).replace('\.0', '', regex=True)
df_removidos['CEP'] = '0' + df_removidos['CEP'].astype(str).replace('\.0', '', regex=True)
df_removidos.head()

,CONCURSO_REMOCAO,CEP,CARGO,ANO,ORIGEM,TIPO_ORIGEM,UNIDADE_ORIGEM,DRE_ORIGEM,GDA_GLT_ORIGEM,DESTINO,TIPO_DESTINO,UNIDADE_DESTINO,DRE_DESTINO,REMOVEU,GDA_GLT_DESTINO,CEP_ORIGEM,CEP_DESTINO
0,REMOÇÃO PROF.TITULARES,03063000,PROF.ED.INF.E ENS.FUND.I,2022,91278,EMEI,"GOMES CARDIM, INTENDENTE",PE,NaN,94021,EMEF,"CAIRU, VISC. DE",PE,S,NaN,03322080,03552010
5,REMOÇÃO PROF.TITULARES,03178060,PROF.ED.INF.E ENS.FUND.I,2022,91812,EMEBS,HELEN KELLER,IP,NaN,329,EMEBS,"NEUSA BASSETTO, PROFA.",PE,S,NaN,04109000,03166000
19,REMOÇÃO PROF.TITULARES,03405000,PROF.ED.INF.E ENS.FUND.I,2022,91278,EMEI,"GOMES CARDIM, INTENDENTE",PE,NaN,19670,CEU CEMEI,MONTE SERRAT,PE,S,NaN,03322080,03312000
20,REMOÇÃO PROF.TITULARES,02452002,PROF.ED.INF.E ENS.FUND.I,2022,91561,EMEI,ABELARDO GALDINO PINTO - PIOLIN,FB,NaN,99643,EMEI,DULCE HAUCK,FB,S,NaN,02515040,02536140
22,REMOÇÃO PROF.TITULARES,01542010,PROF.ED.INF.E ENS.FUND.I,2022,91812,EMEBS,HELEN KELLER,IP,NaN,329,EMEBS,"NEUSA BASSETTO, PROFA.",PE,S,NaN,04109000,03166000

In [45]:
df_removidos.head()

,CONCURSO_REMOCAO,CEP,CARGO,ANO,ORIGEM,TIPO_ORIGEM,UNIDADE_ORIGEM,DRE_ORIGEM,GDA_GLT_ORIGEM,DESTINO,...,UNIDADE_DESTINO,DRE_DESTINO,REMOVEU,GDA_GLT_DESTINO,CEP_ORIGEM,CEP_DESTINO,DISTANCIA_INICIAL,TEMPO_INICIAL,DISTANCIA_DEPOIS,TEMPO_DEPOIS
0,REMOÇÃO PROF.TITULARES,3063000,PROF.ED.INF.E ENS.FUND.I,2022,91278,EMEI,"GOMES CARDIM, INTENDENTE",PE,NaN,94021,...,"CAIRU, VISC. DE",PE,S,NaN,03322080,03552010,2309.0,510.0,NaN,NaN
5,REMOÇÃO PROF.TITULARES,3178060,PROF.ED.INF.E ENS.FUND.I,2022,91812,EMEBS,HELEN KELLER,IP,NaN,329,...,"NEUSA BASSETTO, PROFA.",PE,S,NaN,04109000,03166000,7427.0,1302.0,1940.0,381.0
19,REMOÇÃO PROF.TITULARES,3405000,PROF.ED.INF.E ENS.FUND.I,2022,91278,EMEI,"GOMES CARDIM, INTENDENTE",PE,NaN,19670,...,MONTE SERRAT,PE,S,NaN,03322080,03312000,2911.0,654.0,NaN,NaN
20,REMOÇÃO PROF.TITULARES,2452002,PROF.ED.INF.E ENS.FUND.I,2022,91561,EMEI,ABELARDO GALDINO PINTO - PIOLIN,FB,NaN,99643,...,DULCE HAUCK,FB,S,NaN,02515040,02536140,NaN,NaN,NaN,NaN
22,REMOÇÃO PROF.TITULARES,1542010,PROF.ED.INF.E ENS.FUND.I,2022,91812,EMEBS,HELEN KELLER,IP,NaN,329,...,"NEUSA BASSETTO, PROFA.",PE,S,NaN,04109000,03166000,NaN,NaN,NaN,NaN

In [70]:
import pandas as pd

def get_distance_duration(origin, destination):
    api_key = ""  
    url = f"https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins={origin}&destinations={destination}&key={api_key}"
    response = requests.get(url)
    data = response.json()
    if data["rows"][0]["elements"][0]["status"] == "OK":
        distance = data["rows"][0]["elements"][0]["distance"]["value"]
        duration = data["rows"][0]["elements"][0]["duration"]["value"]
        return distance, duration
    else:
        return None, None

# Definindo o contador
counter = 0

for i, row in df_removidos.iterrows():
    
    cep_professor = row['CEP']
    cep_origem = row['CEP_ORIGEM']
    cep_destino = row['CEP_DESTINO']

    df_removidos.loc[i, 'DISTANCIA_INICIAL'], df_removidos.loc[i, 'TEMPO_INICIAL'] = get_distance_duration(cep_professor, cep_origem)
    df_removidos.loc[i, 'DISTANCIA_DEPOIS'], df_removidos.loc[i, 'TEMPO_DEPOIS'] = get_distance_duration(cep_professor, cep_destino)

    # Incrementar o contador
    counter += 1

    # Se já processamos 100 linhas, vamos salvar o DataFrame no Excel e resetar o contador
    if counter % 100 == 0:
        df_removidos.to_excel("df_removidos_intermediario.xlsx")
        print(f"Dados salvos após {counter} linhas processadas.")

# Por fim, salvamos o DataFrame final após todas as linhas terem sido processadas
df_removidos.to_excel("df_removidos_final.xlsx")

Dados salvos após 100 linhas processadas.
Dados salvos após 200 linhas processadas.
Dados salvos após 300 linhas processadas.
Dados salvos após 400 linhas processadas.
Dados salvos após 500 linhas processadas.
Dados salvos após 600 linhas processadas.
Dados salvos após 700 linhas processadas.
Dados salvos após 800 linhas processadas.
Dados salvos após 900 linhas processadas.
Dados salvos após 1000 linhas processadas.
Dados salvos após 1100 linhas processadas.
Dados salvos após 1200 linhas processadas.
Dados salvos após 1300 linhas processadas.
Dados salvos após 1400 linhas processadas.
Dados salvos após 1500 linhas processadas.
Dados salvos após 1600 linhas processadas.
Dados salvos após 1700 linhas processadas.
Dados salvos após 1800 linhas processadas.
Dados salvos após 1900 linhas processadas.
Dados salvos após 2000 linhas processadas.
Dados salvos após 2100 linhas processadas.
Dados salvos após 2200 linhas processadas.
Dados salvos após 2300 linhas processadas.
Dados salvos após 2400 linhas processadas.
Dados salvos após 2500 linhas processadas.
Dados salvos após 2600 linhas processadas.
Dados salvos após 2700 linhas processadas.
Dados salvos após 2800 linhas processadas.
Dados salvos após 2900 linhas processadas.
Dados salvos após 3000 linhas processadas.
Dados salvos após 3100 linhas processadas.
Dados salvos após 3200 linhas processadas.
Dados salvos após 3300 linhas processadas.
Dados salvos após 3400 linhas processadas.
Dados salvos após 3500 linhas processadas.
Dados salvos após 3600 linhas processadas.
Dados salvos após 3700 linhas processadas.
Dados salvos após 3800 linhas processadas.
Dados salvos após 3900 linhas processadas.
Dados salvos após 4000 linhas processadas.
Dados salvos após 4100 linhas processadas.
Dados salvos após 4200 linhas processadas.
Dados salvos após 4300 linhas processadas.
Dados salvos após 4400 linhas processadas.
Dados salvos após 4500 linhas processadas.
Dados salvos após 4600 linhas processadas.
Dados salvos após 4700 linhas processadas.
Dados salvos após 4800 linhas processadas.
Dados salvos após 4900 linhas processadas.
Dados salvos após 5000 linhas processadas.
Dados salvos após 5100 linhas processadas.
Dados salvos após 5200 linhas processadas.
Dados salvos após 5300 linhas processadas.
Dados salvos após 5400 linhas processadas.
Dados salvos após 5500 linhas processadas.
Dados salvos após 5600 linhas processadas.
Dados salvos após 5700 linhas processadas.
Dados salvos após 5800 linhas processadas.
Dados salvos após 5900 linhas processadas.
Dados salvos após 6000 linhas processadas.
Dados salvos após 6100 linhas processadas.
Dados salvos após 6200 linhas processadas.
Dados salvos após 6300 linhas processadas.
Dados salvos após 6400 linhas processadas.
Dados salvos após 6500 linhas processadas.
Dados salvos após 6600 linhas processadas.
Dados salvos após 6700 linhas processadas.
Dados salvos após 6800 linhas processadas.
Dados salvos após 6900 linhas processadas.
Dados salvos após 7000 linhas processadas.
Dados salvos após 7100 linhas processadas.
Dados salvos após 7200 linhas processadas.
Dados salvos após 7300 linhas processadas.
Dados salvos após 7400 linhas processadas.
Dados salvos após 7500 linhas processadas.
Dados salvos após 7600 linhas processadas.
Dados salvos após 7700 linhas processadas.
Dados salvos após 7800 linhas processadas.
Dados salvos após 7900 linhas processadas.
Dados salvos após 8000 linhas processadas.

In [50]:
print(get_distance_duration('05170020', '02860001'))

(9353, 1635)